* {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.fiverr__logo {
  margin-left: -8px;
  font-family: "Montserrat", sans-serif;
  background-image: black;
  width: 20px;
  height: 20px;
}
/* --------------NAVBAR---------------------- */

.fiverr_navBar {
  font-weight: 800;
}
/* --------------CAROUSEL---------------------- */
.carouselImg {
  height: 700px !important;
}
/* ---------------TOK------------------------------ */
.tok h4 {
  margin: 20px;
  font-weight: 600;
}
.tok {
  width: 100%;
}
.tok__content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.tok_item img {
  width: 252px;
  height: 150px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.9;
}
.tok_item {
  position: relative;
  margin: 10px;
}
.tok__title {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
}
.tok__title p {
  color: #504848;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
}
.tok__title h5 {
  color: #504848;
  margin-bottom: 0px;
  font-weight: 600;
}
/* ------------FREELANCE----------------- */
.freelance {
  background-color: #f8f9fa;
  width: 100%;
}
.freelance__title {
  margin-bottom: 30px;
  font-weight: 600;
}
.freelance__title h3 {
  font-weight: 600;
  font-size: 35px;
}
.freelance__content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.freelance__left {
  width: 40%;
  margin: 0;
}
.freelance__right {
  margin-left: 40px;
}
.freelance__right img {
  width: 650px;
  padding-top: 50px;
}
.freelance__target h5 {
  font-weight: 600;
}
/* -----------Explore------------------- */
.explore {
  width: 100%;
}
.explore__title {
  padding: 50px 0 50px;
  width: 80%;
  margin: auto;
}
.explore__title h5 {
  font-weight: 600;
  font-size: 35px;
}
.explore__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: auto;
}
.explore__icon {
  padding-left: 15px;
}
.explore__item{
  text-align: center;
}
/* -------------Footer------------- */
.footer{
  width: 100%;
  padding-top: 20px;
}
.footer__content{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer__categories p{
  font-weight: 600;
  margin-left: 37px;
}
.footer__categories ul{
  list-style: none;
}