* {
  margin: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.fiverr__logo {
  color: #fff;
  font-size: 35px !important;
}
.fiverr__logo:hover {
  color: #fff;
}
.nav-item a {
  color: #fff;
}
.nav-item a:hover {
  transition: 0.4s ease !important;
  color: #28a745 !important;
}
/* --------------NAVBAR---------------------- */
.fiverr__carousel {
  position: relative;
  /* top: -100%; */
  /* left: 0; */
}
.fiverr_navBar {
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.fiverr_navBar a {
  transition: none;
}
.navBar__btn {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #fff;
  outline: none;
  padding: 5px 30px;
  color: #fff;
  transition: 0.2s ease-in;
}
.navBar__btn:focus {
  background-color: #28a745;
  outline: none;
  border: 0;
}
/* --------------CAROUSEL---------------------- */
.carouselImg {
  height: 800px !important;
}
.fiverr__carousel {
  position: relative;
}
.carousel__overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #28a745;
}
.carousel__overlay h3 {
  font-weight: 600;
  font-size: 50px;
}
.overlay__search {
  display: flex;
  padding: 10px 0 20px 0;
}
.overlay__text {
  color: #fff;
  font-size: 45px;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-style: italic;
}
.overlay__popular p {
  float: left;
  margin-right: 10px;
}
.overlay__popular span {
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #28a745;
  color: #28a745;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.overlay__popular span:hover {
  background-color: #28a745;
  color: #fff;
}
/* ---------------TOK------------------------------ */
.tok h4 {
  margin: 20px;
  font-weight: 600;
}
.tok {
  width: 100%;
}
.tok__content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.tok_item img {
  width: 252px;
  height: 150px;
  border-radius: 4px;
  opacity: 0.9;
}
.tok_item:hover {
  transform: scale(1.1);
  border-radius: 4px;
}
.tok_item {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease;
}
.tok__title {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
}
.tok__title p {
  color: #504848;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
}
.tok__title h5 {
  color: #504848;
  margin-bottom: 0px;
  font-weight: 600;
}
/* ------------FREELANCE----------------- */
.freelance {
  background-color: #f8f9fa;
  width: 100%;
}
.freelance__title {
  margin-bottom: 30px;
  font-weight: 600;
}
.freelance__title h3 {
  font-weight: 600;
  font-size: 35px;
}
.freelance__content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.freelance__left {
  width: 40%;
  margin: 0;
}
.freelance__right {
  margin-left: 40px;
}
.freelance__right img {
  width: 650px;
  padding-top: 50px;
}
.freelance__target h5 {
  font-weight: 600;
}
/* -----------Explore------------------- */
.explore {
  width: 100%;
}
.explore__title {
  padding: 50px 0 50px;
  width: 80%;
  margin: auto;
}
.explore__title h5 {
  font-weight: 600;
  font-size: 35px;
}
.explore__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: auto;
}
.explore__icon {
  padding-left: 15px;
}
.explore__item {
  text-align: center;
  cursor: pointer;
}
/* --------------TYPEJOBS------------------------ */
.typejobs {
  transform: translateX(-35%);
}
.typejobs__list {
  display: flex;
  justify-content: space-between;
}
.typejobs__list ul {
  list-style: none;
  color: #000;
}
.typejobs__list ul a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}
.typejobs__list ul a:hover {
  color: #28a745;
}
/* ----------------LIST_WORKS----------------------- */
.listworks__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  width: 80%;
  margin: auto;
}
.listworks__item img {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
}
.listworks__item {
  width: 250px;
  cursor: pointer;
  transition: .3s ease;
}
.listworks__item p {
  font-size: 16px;
  padding: 0px 20px 0 20px;
}
/* -------------SUB_TYPE_JOB------------------------ */
.subtypejob {
  width: 100%;
}
.subtypejob__content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.subtypejob__left a, .subtypejob__item a{
  text-decoration: none !important;
}
.subtypejob__left a {
  color: #000;
  opacity: 0.5;
  transition: .3s ease;
}
.subtypejob__left a:hover{
  color: #000 ;
  opacity: 1;

}
.subtypejob__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.subtypejob__item {
  padding-left: 40px ;
  cursor: pointer;
}
.subtypejob__item img {
  width: 255px;
  padding-bottom: -40px !important;
}
.subtypejob__item a p{
 color: #000;
}

/* -------------Footer------------- */
.footer {
  width: 100%;
  padding-top: 20px;
}
.footer__content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer__categories p {
  font-weight: 600;
  margin-left: 37px;
}
.footer__categories ul {
  list-style: none;
}

.footer__copyright{
  width: 100%;
}
.copyright__content{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #000;
  opacity: 0.7;
}
.copyright__contact{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}
.copyright__logo{
  display: flex;
}
.copyright__logo p{
  line-height: 45px;
  margin-left: 20px;
  font-size: 16px;
}
.copyright__logo h3{
  font-weight: 600;
}
.copyright__logo h3 small{
  font-size: 14px;
  margin-left: -7px;
}
.copyright__item{
  cursor: pointer;
}